
.lightblue {
  background-color:lightblue;
}
.lightgreen {
  background-color:lightgreen;
}
.blue {
  background-color:blue; 
}

.avatar {
  position: relative;
  width: 512px;
  height: 512px;
  border: 1px solid #ddd;
  border-radius: 5%;
  display: inline-block;
  overflow: hidden;
  margin: 2%;
  
}